name: Tag a release
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Tag a release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Nim
        uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: '1.2.6'

      - name: Add Nimble to path
        run: echo "::add-path::~/.nimble"
      
      - name: Bump version and push tag
        run: ./bin/release